name: Gitleaks scan

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  gitleaks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run Gitleaks
        uses: gitleaks/gitleaks-action@v2
        with:
          args: --redact --exit-code=2 --report-format=sarif --report-path=results.sarif
        env:
          GITLEAKS_LICENSE: ${{ secrets.GITLEAKS_LICENSE}} # Only required for Organizations, not personal accounts.

      - name: Upload report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: gitleaks-report
          path: results.sarif
